<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/colorpuzzle.css" />
    <script src="js/puzzle.js"></script>
    <title>D&D Color Puzzles</title>
</head>

<body>
    <div class="descr">
        <h1>Puzzle</h1>
        <div id="mode">
            <button class="mbtn">Edit</button>
            <button class="mbtn">Random</button>
        </div>


    </div>
    <div class="puzzle">
        <div>
            <button class="node">+</button>
        </div>
        <div>
            <button class="node">+</button>
        </div>
        <div>
            <button class="node">+</button>
        </div>
    </div>
</body>

</html>